/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

body {
	font-size: 20px;
}

h1 {
	font-size: 64px;
	margin-top: 20px;
}

li {
	font-size: 18px;
}

label {
	float: center;
	width: 42%;
}

select{
	float: right;
	margin-right: 25px;
	-webkit-appearance: menulist-button;
}

input[type="text"]{
	width: 40%;	
}
input[type="number"]{
	width: 18%;
	margin-left:18.5%;
}

#logo {
	display: inline-block;
	margin-bottom: 30px;
	margin-left: 2%;
}

#titulo {
	margin-top: 1%;
	margin-left: 80px;
	display: inline-block;
}

.comboBox{
	display: inline-block;
	width: 400px;
}

.textField.number {
	width: 50%;
	margin-left: 25px;
}
.number {
	float:left;
	width: 120%;
}

.textField.custo {
	width: 40%;
	float: left;
}

.inputCusto {
	float: right;
}
